@model Transportadora.UI.Site.ViewModels.AuditLogViewModel
@{
    ViewData["Title"] = "Visualizar Log";
    var controllerValue = ViewContext.RouteData.Values["Controller"].ToString();
    var areaValue = ViewContext.RouteData.Values["Area"]?.ToString();
}

<div class="page-header">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Content("~/home/index")">Home</a>
            </li>
            <li>
                @Html.ActionLink("Lista de Logs", "Index", "LogAudit", new { Area = "Portal" }, new { @class = "" })
            </li>
            <li>
                @Html.ActionLink("Detalhe do Log", "Details", "LogAudit", new { Area = "Portal" }, new { @class = "" })
            </li>
        </ul>
    </div>
</div>



<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel-body">
            <div class="row">
                <div class="pull-right">
                    <a asp-action="Index" data-toggle="tooltip" title="Voltar Para lista" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Voltar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Visualizar Log</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DateTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Action)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Action)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.TableName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TableName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.OldValues)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OldValues)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NewValues)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NewValues)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


