@model Transportadora.UI.Site.ViewModels.SupplierViewModel
@using Transportadora.UI.Site.ViewModels


@{
    ViewData["Title"] = "Editar Fornecedor";
}


<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel-body">
            <div class="row">
                <div class="pull-right">
                    <a asp-action="Index" data-toggle="tooltip" title="Voltar Para lista" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Voltar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Editar Fornecedor</h3>
            </div>
            <div class="panel-body">
                @if (TempData.ContainsKey("message"))
                {
            <div class="alert alert-@TempData["cls"]">
                <i class="fa fa-exclamation-circle"></i><small> @TempData["Message"]</small>
                <button type="button" class="close" data-dismiss="alert">
                    ×
                </button>
            </div>TempData.Remove("message");
                            TempData.Remove("cls");
                        }

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <ul class="nav nav-tabs">

                        <li class="active">
                            <a href="#Principal" data-toggle="tab">Principal</a>
                        </li>
                        <li>
                            <a href="#Endereco" data-toggle="tab">Endereço</a>
                        </li>
                        <li>
                            <a href="#Documentos" data-toggle="tab">Documentos</a>
                        </li>
                        <li>
                            <a href="#Servicos" data-toggle="tab">Serviços</a>
                        </li>
                    </ul>
                    <div class="tab-content ">
                        <div class='tab-pane active' id="Principal">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="KindPerson" class="control-label"></label>
                                <select name="KindPerson" id="KindPerson" class="form-control">
                                    <option></option>
                                    @foreach (var option in Enum.GetNames(typeof(KindPersonViewModel)))
                                    {
                                        if (option == Model.KindPerson.ToString())
                                        {
                        <option value="@option" selected>@option</option> }
                                        else
                                        {

                        <option value="@option">@option</option>}
                                    }

                                </select>

                                <span asp-validation-for="KindPerson" class="text-danger"></span>
                            </div>

                            <div class="form-group" style="display:none">
                                <label class="control-label"> Tipo de Serviço</label>
                                <select required name="ExpenseType_Id" id="ExpenseType_Id" class="form-control">
                                    <option></option>

                                    if(@ViewData["ExpenseTypes"] != null)
                                    {



                                    @foreach (var ExpenseType in (ViewData["ExpenseTypes"] as List<ExpenseTypeViewModel>))
                                    {

                                        if (ExpenseType.Id == Model.ExpenseType_Id)
                                        {
                        <option value="@ExpenseType.Id" selected>@ExpenseType.Description</option>
 }
                    else
                    {
                    <option value="@ExpenseType.Id">@ExpenseType.Description</option>
}

            }


                                    }
                                </select>

                            </div>



                            <div class="form-group" style="display:@(Model.KindPerson == KindPersonViewModel.Física? "none":"")" id="divCnpj">
                                <label class="control-label">CNPJ</label>
                                <input id="DocumentCnpj" name="DocumentCnpj" class="form-control" maxlength="18" onKeyPress="MascaraCNPJ(this);" onblur="ValidarCNPJ(this)" value="@Model.Document" />
                                <span asp-validation-for="Document" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display:@(Model.KindPerson == KindPersonViewModel.Jurídica? "none":"")" id="divCpf">
                                <label class="control-label">CPF</label>
                                <input id="DocumentCpf" name="DocumentCpf" class="form-control" maxlength="14" onKeyPress="MascaraCPF(this);" onblur="ValidarCPF(this)" value="@Model.Document" />
                                <span asp-validation-for="Document" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateSince" class="control-label"></label>
                                <input type="text" asp-for="DateSince" class="form-control dates" data-format="dd/MM/yyyy" onKeyPress="MascaraData(this);" maxlength="10" onblur="ValidaData(this)" />
                                <span asp-validation-for="DateSince" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Observation" class="control-label"></label>
                                <input asp-for="Observation" class="form-control" />
                                <span asp-validation-for="Observation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreditLimit" class="control-label"></label>
                                <input asp-for="CreditLimit" class="form-control" onkeyup="formatarMoeda(this);" />
                                <span asp-validation-for="CreditLimit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CelPhone" class="control-label"></label>
                                <input asp-for="CelPhone" class="form-control" onKeyPress="MascaraTelefone(this);" maxlength="15" onBlur="ValidaTelefone(this);" />
                                <span asp-validation-for="CelPhone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class='tab-pane' id="Endereco">
                            <div class="form-group">
                                <label asp-for="Address.AddressLine" class="control-label"></label>
                                <input asp-for="Address.AddressLine" class="form-control" />
                                <span asp-validation-for="Address.AddressLine" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address.Number" class="control-label"></label>
                                <input asp-for="Address.Number" class="form-control" />
                                <span asp-validation-for="Address.Number" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address.Neighborhood" class="control-label"></label>
                                <input asp-for="Address.Neighborhood" class="form-control" />
                                <span asp-validation-for="Address.Neighborhood" class="text-danger"></span>
                            </div>


                            <div class="row">
                                <div class="form-group col-md-4 col-sm-4">
                                    <label asp-for="Address.State" class="control-label"></label>
                                    <select required name="Address.State_Id" id="State_Id" class="form-control">
                                        <option></option>
                                        @foreach (var state in (ViewData["States"] as List<StateViewModel>))
                                        {

                                            if (state.Id == Model.Address.State.Id)
                                            {
                            <option value="@state.Id" selected>@state.Uf - @state.Name</option> }
                                            else
                                            {
                            <option value="@state.Id">@state.Uf - @state.Name</option>}

                                        }
                                    </select>
                                    <span asp-validation-for="Address.State" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4 col-sm-4">
                                    <label asp-for="Address.City" class="control-label"></label>
                                    <select required name="Address.City_Id" id="City_Id" class="form-control">
                                        <option></option>
                                        @foreach (var city in (ViewData["Cities"] as List<CityViewModel>))
                                        {

                                            if (city.Id == Model.Address.City_Id)
                                            {
                            <option value="@city.Id" selected>@city.Name</option> }
                                            else
                                            {
                            <option value="@city.Id">@city.Name</option>}

                                        }
                                    </select>
                                    <span asp-validation-for="Address.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-4">
                                    <label asp-for="Address.PostalCode" class="control-label"></label>
                                    <input asp-for="Address.PostalCode" class="form-control" maxlength="10" onKeyPress="MascaraCep(this);" />
                                    <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label asp-for="Address.PostalCode" class="control-label"></label>
                                <input asp-for="Address.PostalCode" class="form-control" maxlength="10" onKeyPress="MascaraCep(this);" />
                                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                            </div>


                        </div>

                        <div class='tab-pane' id="Documentos">
                            <div id="infoPessoaJuridica" style="display:@(Model.KindPerson == KindPersonViewModel.Física? "none":"")">
                                <div class="form-group">
                                    <label asp-for="StateRegistration" class="control-label"></label>
                                    <input required asp-for="StateRegistration" class="form-control" />
                                    <span asp-validation-for="StateRegistration" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MunicipalRegistration" class="control-label"></label>
                                    <input asp-for="MunicipalRegistration" class="form-control" />
                                    <span asp-validation-for="MunicipalRegistration" class="text-danger"></span>
                                </div>
                            </div>
                            <div id="infoPessoaFisica" style="display:@(Model.KindPerson == KindPersonViewModel.Jurídica? "none":"")">
                                <div class="form-group">
                                    <label asp-for="GeneralRecord" class="control-label"></label>
                                    <input asp-for="GeneralRecord" class="form-control" />
                                    <span asp-validation-for="GeneralRecord" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DispatchingAgency" class="control-label"></label>
                                    <input asp-for="DispatchingAgency" class="form-control" />
                                    <span asp-validation-for="DispatchingAgency" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UFRG" class="control-label"></label>
                                    <input asp-for="UFRG" class="form-control" />
                                    <span asp-validation-for="UFRG" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IssuanceDate" class="control-label"></label>
                                    <input required type="text" asp-for="IssuanceDate" class="form-control dates" data-format="dd/MM/yyyy" onKeyPress="MascaraData(this);" maxlength="10" onblur="ValidaData(this)" />
                                    <span asp-validation-for="IssuanceDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BirthDate" class="control-label"></label>
                                    <input required type="text" asp-for="BirthDate" class="form-control dates" data-format="dd/MM/yyyy" onKeyPress="MascaraData(this);" maxlength="10" onblur="ValidaData(this)" />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Gênero</label>
                                    <select required name="Genre" id="Genre" class="form-control">
                                        <option></option>
                                        @foreach (var option in Enum.GetNames(typeof(GenreViewModel)))
                                        {
                                            if (option == Model.Genre.ToString())
                                            {
                            <option value="@option" selected>@option</option>
 }
                        else
                        {

                    <option value="@option">@option</option>
}
            }

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Estado Civil</label>

                                    <select required name="MaritalStatus" id="MaritalStatus" class="form-control">
                                        <option></option>
                                        @foreach (var option in Enum.GetNames(typeof(MaritalStatusViewModel)))
                                        {
                                            if (option == Model.MaritalStatus.ToString())
                                            {
                            <option value="@option" selected>@option</option>
 }
                        else
                        {

                    <option value="@option">@option</option>
}
            }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class='tab-pane' id="Servicos">


                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">

                                        <label class="control-label">Tipo Serviço</label><b style="color:red"> *</b>
                                        <select required name="Supplier_ExpenseType_Id" id="Supplier_ExpenseType_Id" class="form-control">
                                            <option></option>
                                            @if (ViewData["ExpenseTypes"] != null)
                                            {
                                @foreach (var expenseType in (ViewData["ExpenseTypes"] as List<ExpenseTypeViewModel>))
                                {
                        <option value="@expenseType.Id">@expenseType.Description</option>
}}
                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-6" style="margin-left:-50px; margin-top:22px;">
                                    <div class="form-group">
                                        <div class="form-group col-md-10 col-sm-10"></div>
                                        <div style="text-align:left" class="form-group col-md-2 col-sm-2">
                                            <a id="btnadd" href="javascript:void(0)" onclick="AtualizaDados()" title="Adicionar Serviço"
                                               class="btn btn-danger"><i class="fa fa-plus"></i> Adicionar Serviço</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover" id="TData">
                                                <thead>
                                                    <tr>
                                                        <th>Número</th>
                                                        <th>Descrição</th>
                                                        <th>Ação</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ List<ExpenseSupplierViewModel> expenseSupplier = Model.ExpenseSupplier.ToList(); }

                                                    @for (int i = 0; i < expenseSupplier.Count; i++)
                                                    {

                                        <tr id="@i" class="index">

                                            <td class='number'>
                                                @Html.Raw(i + 1)
                                                <input type="hidden" value="@expenseSupplier[@i].Id" name="ExpenseSupplier[@i].Id" id="ExpenseSupplier[@i].Id" class="form-control" readonly required />
                                                <input type="hidden" value="@expenseSupplier[@i].Supplier_Id" name="ExpenseSupplier[@i].Supplier_Id" id="ExpenseSupplier[@i].Supplier_Id" class="form-control" readonly />
                                            </td>
                                            <td>
                                                @if (expenseSupplier[@i].ExpenseType != null)
                                                {
                                <input type="text" value="@expenseSupplier[@i].ExpenseType.Description" name="ExpenseSupplier[@i].ExpenseType_Name" id="ExpenseSupplier[@i].ExpenseType_Name" class="form-control" readonly />
                                                    <input type="hidden" value="@expenseSupplier[@i].ExpenseType.Id" name="ExpenseSupplier[@i].ExpenseType_Id" id="ExpenseSupplier[@i].ExpenseType_Id" class="form-control" readonly />}
                                            </td>
                                            <td><a href="javascript:void(0)" onclick="javascript:deleteRow(this)" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Remover</a></td>
                                            <td><a href="javascript:void(0)" onclick="javascript:EditaRow(this)" class="btn btn-sm btn-success"><i class="fa fa-pencil fa-fw"></i> Editar</a></td>

                                        </tr>
}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                        </div>
                        <div class="pull-right">
                            <button type="reset" data-toggle="tooltip" title="Limpar Formulário" class="btn btn-warning">
                                <i class="fa fa-eraser "></i> Limpar
                            </button>
                            <button type="submit" data-toggle="tooltip" title="Salvar" class="btn btn-primary">
                                <i class="fa fa-save"></i> Salvar
                            </button>
                        </div>

</form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">

    class Supplier {
        constructor() {
            this.ExpenseSuppliers = [];
        }
    }

    class ExpenseSupplier {
        constructor() {
            this.id = 0;
            this.ExpenseType_Id = 0;
        }
    }

    var supplier = new Supplier();


    $(document).ready(function () {
        $('select').select2();
        $('.dates').datetimepicker({
            pickTime: false,
            format: 'DD/MM/YYYY'
        });
        $('#KindPerson').change(function () {
            let valor = $(this).val();
            if (valor === '0') {
                $("#divCnpj").css("display", "none");
                $("#divCpf").css("display", "block");
                $("#DocumentCnpj").attr('name', 'DocumentCnpj');
                $("#DocumentCpf").attr('name', 'Document');
                $("#infoPessoaJuridica").css("display", "none");
                $("#infoPessoaFisica").css("display", "block");
            } else {
                $("#divCnpj").css("display", "block");
                $("#divCpf").css("display", "none");
                $("#DocumentCnpj").attr('name', 'Document');
                $("#DocumentCpf").attr('name', 'DocumentCpf');
                $("#infoPessoaJuridica").css("display", "block");
                $("#infoPessoaFisica").css("display", "none");
            }
        })
    });


    function AddItems() {

        var tipoDespesaNome = $('#Supplier_ExpenseType_Id option:selected').text();

        if (tipoDespesaNome === "") {
            alert("Selecione o tipo de Serviço!");
            return;
        }

        var row = $('#TData tbody tr').length;

        if (row > 0) {
            var index = $('.index').last().attr('id');
            index = parseInt(index);
            row = parseInt(row);
            row = index + 1;
        }

        var tipoDespesa = $("#Supplier_ExpenseType_Id").val();

        var html = '<tr id="' + row + '" class="index">';
        html += "<td class='number'>" + (row + 1) + "</td>";

        html += '<td><input type="text" value="' + tipoDespesaNome + '" name="ExpenseSupplier[' + row + '].ExpenseType_Name" id="ExpenseSupplier[' + row + '].ExpenseType_Name" class="form-control" readonly="true" />';
        html += '<input type="hidden" value="' + tipoDespesa + '" name="ExpenseSupplier[' + row + '].ExpenseType_Id" id="ExpenseSupplier[' + row + '].ExpenseType_Id" class="form-control" readonly="true" required/></td>';

        html += '<td><a href="javascript:void(0)" onclick="javascript:deleteRow(this)" class="btn btn-danger"><i class="fa fa-times"></i> Remover</a></td>';
        html += '<td><a href="javascript:void(0)" id="change-select2-trigger" onclick="javascript:EditaRow(this)" class="btn btn-success"><i class="fa fa-pencil fa-fw"></i> Editar</a></td>';
        html += '</tr>';
        $('#TData tbody').append(html);

        var expense = new ExpenseSupplier();
        ///expense.id = row + 1;

        supplier.ExpenseSuppliers.push(expense);
        expense.id = row + 1;
        expense.ExpenseType_Id = tipoDespesa;

        LimparDados();
    }

    function LimparDados() {


        document.getElementById("Supplier_ExpenseType_Id").selectedIndex = 0;
        document.getElementById("Supplier_ExpenseType_Id").text = " ";
        document.getElementById("Supplier_ExpenseType_Id").value = " ";

        $("#Supplier_ExpenseType_Id").select2({
            text: ' ',
            placeholder: 'Selecione serviço'
        })

        editado = false;
    }

    function AtualizaDados() {

        if (typeof editado === "undefined") {
            editado = false;
        }

        if (!editado) {
            AddItems();
        } else {
            AtualizaItem();
        }
    }

    function EditaRow(btn) {

        var row = btn.parentNode.parentNode;
        var idPesq = row.getElementsByClassName("number")[0].textContent;
        var idreg = idPesq - 1;

        regsel = idPesq;
        idregparam = idreg;
        editado = true;

        var cdespesa_descricao = document.getElementById('ExpenseSupplier[' + idreg + '].ExpenseType_Name').value;
        var cdespesa_codigo = document.getElementById('ExpenseSupplier[' + idreg + '].ExpenseType_Id').value;

        document.getElementById("Supplier_ExpenseType_Id").text = cdespesa_descricao;
        document.getElementById("Supplier_ExpenseType_Id").value = cdespesa_codigo;

        this.$("#Supplier_ExpenseType_Id").select2("data", { id: cdespesa_codigo, text: cdespesa_descricao });

    }

    function AtualizaItem() {

        document.getElementById('ExpenseSupplier[' + idregparam + '].ExpenseType_Name').value = $('#Supplier_ExpenseType_Id option:selected').text();
        document.getElementById('ExpenseSupplier[' + idregparam + '].ExpenseType_Id').value = document.getElementById("Supplier_ExpenseType_Id").value;

        var indexDespesa = supplier.ExpenseSuppliers.map(x => {

            if (x.id == regsel) {
                x.Descricao_Despesa = $('#Supplier_ExpenseType_Id option:selected').text();
                x.expense_id = document.getElementById("Supplier_ExpenseType_Id").value;
            }
            return x.id;
        }).indexOf(regsel);

        LimparDados();
    }

    function deleteRow(btn) {

        var row = btn.parentNode.parentNode;
        var idServicoRemovido = row.getElementsByClassName("number")[0].textContent;
        var idreg = idServicoRemovido - 1;

        var cdespesa_codigo = document.getElementById('ExpenseSupplier[' + idreg + '].Id').value

        $.ajax({
            type: "GET",
            //url: '@Url.Content("~/Financeiro")/Suppliers/RemoveServicoId/?id_despesa=' + document.getElementById('ExpenseSupplier[' + idreg + '].ExpenseType_Id').value,
            url: '@Url.Content("~/Financeiro")/Suppliers/RemoveServicoId/',
            data: $.param({ data: cdespesa_codigo }, true),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                var indexServico = supplier.ExpenseSuppliers.map(x => {
                    return x.id;
                }).indexOf(idServicoRemovido);

                supplier.ExpenseSuppliers.splice(indexServico, 1);

                row.parentNode.removeChild(row);
                $('.number').each(function (i) {
                    $(this).text(i + 1);
                });

                alert('Item excluído');
            },
            error: function (xxhr, ajaxOptions, thrownError) {
                alert("ERRO - Ao exluir! " + error);
            }
        });









        LimparDados();
    }



</script>

