@model IEnumerable<Transportadora.UI.Site.ViewModels.CompanyViewModel>
@using Transportadora.UI.Site.ViewModels
@{
    ViewData["Title"] = "Gestão de Empresas";
    var controllerValue = ViewContext.RouteData.Values["Controller"].ToString();
    var areaValue = ViewContext.RouteData.Values["Area"]?.ToString();
}

<div class="page-header">

    <div class="container-fluid">
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Content("~/home/index")">Home</a>
            </li>
            <li>
                @Html.ActionLink("Lista de Empresa", "Index", "Companies", new { Area = "Portal" }, (controllerValue == "Companies" ? (new { @class = "active" }) : (new { @class = "" })))
            </li>
        </ul>
    </div>

</div>

<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel-body">
            <div class="row">
                <div class="pull-right">
                    <a asp-action="Create" data-toggle="tooltip" title="Nova Empresa" class="btn btn-primary">
                        <i class="fa fa-plus"></i> Novo
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Lista de Empresas
                </h3>
            </div>
            <div class="panel-body">

                @if (TempData.ContainsKey("message"))
                {
                    <div class="alert alert-@TempData["cls"]">
                        <i class="fa fa-exclamation-circle"></i><small> @TempData["Message"]</small>
                        <button type="button" class="close" data-dismiss="alert">
                            ×
                        </button>
                    </div>
                    TempData.Remove("message");
                    TempData.Remove("cls");
                }
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="usersTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CNPJ)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RazaoSocial)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InscEstatudal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InscMunicipal)
                                </th>
                                <th>
                                    Ações
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CNPJ)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RazaoSocial)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InscEstatudal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InscMunicipal)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a asp-action="Details" asp-route-id="@item.Id">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" data-confirm="Deseja remover o item?">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pagination">

        </div>

    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#usersTable').DataTable({
            language: {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });
        


    });
</script>
