@model IEnumerable<Transportadora.UI.Site.ViewModels.ExpenseViewModel>


@{
    ViewData["Title"] = "Listagem de Despesas";
}

<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel-body">
            <div class="row">
                <div class="pull-right">
                    <a asp-action="Create" data-toggle="tooltip" title="Nova Despesa" class="btn btn-primary">
                        <i class="fa fa-plus"></i> Novo
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Lista de Despesas
                </h3>
            </div>
            <div class="panel-body">
                @if (TempData.ContainsKey("message"))
                {
                <div class="alert alert-@TempData["cls"]">
                    <i class="fa fa-exclamation-circle"></i><small> @TempData["Message"]</small>
                    <button type="button" class="close" data-dismiss="alert">
                        ×
                    </button>
                </div>
                    TempData.Remove("message");
                    TempData.Remove("cls");
                }
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="expensesTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Supplier_Id)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Amount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CostCenter)
                                </th>

                                <th>
                                    Ações
                                </th>
                            </tr>
                        </thead>
                        <tbody>


                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @if (item.Status == Transportadora.UI.Site.ViewModels.StatusViewModel.closed)
                                    {
                                    <span class="label label-success">Fechado</span>}
                                    @if (item.Status == Transportadora.UI.Site.ViewModels.StatusViewModel.inProgress)
                                    {
                                    <span class="label label-warning">Em Andamento</span>}
                                    @if (item.Status == Transportadora.UI.Site.ViewModels.StatusViewModel.opened)
                                    {
                                    <span class="label label-danger">Aberto</span>}
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>


                                @if (item.Description.Contains("-"))
                                {
                            <td onclick=" " style="cursor:pointer;">

                                <span class="pull-right">@Html.ActionLink("Ver Acerto...", "Visualizacao", "FinancialSettlements", new { @code=item.Observation }, null )</span>
                                @Html.DisplayFor(modelItem => item.Description)


                            </td>

                                }
                                else
                                 {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                  }

                                <td>
                                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CostCenter.Description)
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" data-confirm="Deseja remover o item?">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pagination">

        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#expensesTable').DataTable({
            language: {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });

    });

    function selLinha(linha, multiplos) {
        if (!multiplos) {
            var linhas = linha.parentElement.getElementsByTagName("tr");
            for (var i = 0; i < linhas.length; i++) {
                var linha_ = linhas[i];
                linha_.classList.remove("selecionado");
            }
        }
        linha.classList.toggle("selecionado");

    }


    function selecionado() {

        var tabela = document.getElementById("expensesTable");
        var linhas = tabela.getElementsByTagName("tr");

        for (var i = 0; i < linhas.length; i++) {
            var linha = linhas[i];
            linha.addEventListener("click", function () {
                //Adicionar ao atual
                selLinha(this, false); //Selecione apenas um
                //selLinha(this, true); //Selecione quantos quiser
            });
        }

        var selecionados = tabela.getElementsByClassName("selecionado");
        //Verificar se eestá selecionado
        if (selecionados.length < 1) {
            alert("Selecione pelo menos uma linha");
            return false;
        }

        var dados = "";

        for (var i = 0; i < selecionados.length; i++) {
            var selecionado = selecionados[i];
            selecionado = selecionado.getElementsByTagName("td");
            dados += "ID: " + selecionado[0].innerHTML + " - Nome: " + selecionado[1].innerHTML + " - Idade: " + selecionado[2].innerHTML + "\n";
        }

        alert(dados);


    }



</script>